<div class="all-tickets">
    <div class="request-card-container">
        {% for this_request in payload.all %}
        <div class="request-card-envelop {{ this_request.request_status }}">
            <div class="request-card">
                <input type="hidden" name="request_id" value="{{ this_request.pk_rid }}">
                <input type="hidden" name="request_type" value="{{ this_request.is_donate_req }}">
                <input type="hidden" name="request_status" value="{{ this_request.request_status }}">

                <div class="col major">
                    <div class="top">
                        <span><i class="fa fa-user"></i>{{ this_request.user_name }}</span>
                        <span style="max-width: 10rem"><i class="fa fa-home"></i>{{ this_request.this_contact_address }}</span>
                    </div>

                    <div class="mid">
                        <a href="tel:{{ this_request.this_contact_phone }}" class="contact-phone">
                            <i class="fa fa-phone"></i>
                            <span>{{ this_request.this_contact_phone }}</span>
                        </a>
                    </div>

                    <span><i class="fa fa-clock"></i>{{ this_request.created_ts }}</span>
                </div>

                <div class="col minor">
                    <div class="review">
                        <span>
                            {% if this_request.review_rating %}
                                <i class="fa fa-star"></i>{{ this_request.review_rating }}
                            {% endif %}
                            {% if this_request.review_feedback %}
                                <i class="fa fa-comments"></i>
                                <span class="feedback">
                                    {{ this_request.review_feedback | safe }}
                                </span>
                            {% elif this_request.is_donate_req != 1 and this_request.request_status == "delivered" and url_for(request.endpoint) == '/dashboard' %}
                                <button name="do_review">
                                    <span style="margin-left: 2px">Review</span>
                                    <i class="fa fa-comment"></i>
                                </button>
                            {% endif %}
                        </span>
                    {% if (this_request.is_donate_req != 1 and this_request.request_status == "confirmed" and url_for(request.endpoint) == '/dashboard') or url_for(request.endpoint) != '/dashboard' %}
                        <input type="checkbox" name="selection">
                    {% endif %}
                    </div>
                    <span class="rec_don">
                        {% if this_request.is_donate_req == 1 %}
                            <i class="fa fa-long-arrow-up"></i><span>Donate</span>
                        {% else %}
                            <i class="fa fa-long-arrow-down"></i><span>Receive</span>
                        {% endif %}
                    </span>
                    <div class="fx">
                        <i class="fa fa-cutlery"></i>
                        <div class="is-veg {{ "veg" if this_request.is_veg == 1 else "non-veg" }}">
                            <div class="circle"></div>
                        </div>
                        <span>({{ this_request.req_qty_in_person }}x)</span>
                    </div>
                    <span class="request-status {{ this_request.request_status }}">
                        <i class="fa fa-retweet"></i>
                        <span>{{ this_request.request_status.capitalize() }}</span>
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

