<nav class="fx main-styles">
    <div class="logo"></div>
    <div class="fx-spacer"></div>
    <ul class="nav list-lsn fx">
        <li><a href="/dashboard">Home</a></li>

        {% if user_type == 'volunteer' or user_type == 'super_admin' %}
        <li><a href="/donor_summary">Donor Summary</a></li>
        <li><a href="/volunteer_dashboard">Volunteer</a></li>
        {% endif %}

        {% if user_type == 'super_admin' %}
        <li><a href="/super_admin">Admin</a></li>
        {% endif %}

        <div id="google_translate_element"></div>

        <li class="user_type"><span>Role: {{ user_type }}</span></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

</nav>