body
  height: 100vh

#login, #signup
  &.active
    display: flex
  display: none
  border-radius: 5px
  box-shadow: 0 0 5px -1px #333A
  padding: 2rem 3rem
  min-width: 20rem
  background-color: #EEED

  h3
    text-transform: uppercase
    margin-bottom: 1.2rem
    font-size: 2rem
    font-weight: lighter
    color: #0070ba

  input[type='text'], input[type='password'], textarea
    padding: 7px
    font-size: 1rem
    border: 1px solid #333A
    border-radius: 5px
    &:focus
      outline: none
      border-color: #0070ba
  input[type='text'], input[type='password'], textarea, > label
    margin-bottom: .8rem
  input[type='submit'], input[type='button']
    height: 2.8rem
    text-transform: capitalize
    font-weight: 600
    border-radius: 3rem
    border: 1px solid #333
  input[type='submit']
    background-color: #0070ba
    border-color: #0070ba
    color: #FFF
    margin-top: 5px
  input[type='button']
    border-color: #0070ba
    color: #0070ba

  label > span
    margin-left: 5px
    cursor: pointer
  span.log_sign
    text-decoration: underline
    color: #029
    cursor: pointer
    align-self: center

  .divider
    display: flex
    align-items: center
    margin: 1rem 0
    .line
      flex-grow: 1
      height: 1px
      background-color: #3339
    span
      color: #333A
      margin: 0 5px
