*
  margin: 0
  padding: 0

.fx
  display: flex
  &.fdc
    flex-direction: column
  &.jcc
    justify-content: center
  &.aic
    align-items: center
  &.aifs
    align-items: flex-start

.fx-asc
  align-self: center

.fx-spacer
  flex-grow: 1

.list-lsn
  list-style: none


body
  //max-width: 100vw
  //max-height: 100vh

  nav.main-styles
    align-self: stretch
    padding: 1rem 2rem