@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
.fx {
  display: flex;
}
.fx.fdc {
  flex-direction: column;
}
.fx.jcc {
  justify-content: center;
}
.fx.aic {
  align-items: center;
}
.fx.aifs {
  align-items: flex-start;
}

.fx-asc {
  align-self: center;
}

.fx-spacer {
  flex-grow: 1;
}

.list-lsn {
  list-style: none;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 5rem 3rem;
  background: rgba(0, 0, 0, 0);
}
body nav.main-styles {
  align-self: stretch;
  padding: 1rem 2rem;
  background-color: #444b58;
  box-shadow: 0 3px 3px -1px rgba(51, 51, 51, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
body nav.main-styles ul li:not(:first-child, :last-child) {
  padding: 0 1rem;
}
body nav.main-styles li.user_type {
  margin-left: 1.5rem;
  color: dodgerblue;
}
body nav.main-styles ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #dcdcdc;
}
body nav.main-styles ul li a:visited {
  color: #dcdcdc;
}
body h2.all-tickets {
  margin-left: 1rem;
  margin-bottom: 5px;
}
body .bg_z_minus {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(frodo_bg.jpg);
  background-position: center;
  background-size: 700px;
  filter: saturate(30%) brightness(80%) contrast(62%);
}
body .bg_z_minus .overlay {
  width: 100%;
  height: 100%;
  background: rgba(124, 124, 124, 0.0705882353);
}

.header_controls {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
  align-self: flex-start;
  border-radius: 5px;
  background: #F0F0F0;
  padding: 7px 2rem;
}
.header_controls .row {
  display: flex;
  align-items: center;
}
.header_controls .row:nth-child(2) {
  margin: 5px 0 3px;
}
.header_controls .row:nth-child(3) span:not(:first-child) {
  margin-left: 5px;
  cursor: pointer;
  transition: all 500ms;
  padding: 1px 3px;
  border-radius: 3px;
}
.header_controls .row:nth-child(3) span:not(:first-child):hover {
  background-color: rgba(93, 147, 255, 0.44);
}
.header_controls h2.title_my_req {
  font-size: 2.5rem;
  margin-right: 3.5rem;
}
.header_controls button {
  color: #EEE;
  background-color: #444b58;
  padding: 7px 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.header_controls button span {
  font-size: 1rem;
  margin-left: 5px;
}
.header_controls #ticket-filters > span:first-child {
  font-weight: bold;
}
.header_controls #ticket-filters label {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.header_controls #ticket-filters label input {
  margin-right: 3px;
}

div.all-tickets {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
div.all-tickets .row {
  display: flex;
  margin-top: 3px;
}
div.all-tickets .col {
  display: flex;
  flex-direction: column;
}
div.all-tickets .header {
  align-items: center;
}
div.all-tickets .header h2 {
  margin-left: 1rem;
  margin-right: 2rem;
}
div.all-tickets .request-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}
div.all-tickets .request-card-container .request-card {
  display: flex;
  flex-direction: column;
  width: 21rem;
  border-radius: 5px;
  padding: 10px;
  margin: 0.2rem 0.5rem;
  box-shadow: 2px 2px 6px 0 rgba(51, 51, 51, 0.2);
  background-color: #F0F0F0;
}
div.all-tickets .request-card-container .request-card i.fa {
  margin-right: 5px;
}
div.all-tickets .request-card-container .request-card .col:not(:first-child) {
  margin-left: 1rem;
}
div.all-tickets .request-card-container .request-card .mid .col:first-child {
  width: 8rem;
}
div.all-tickets .request-card-container .request-card .bottom {
  margin-top: 5px;
}
div.all-tickets .request-card-container .request-card .bottom span:first-child {
  width: 3rem;
  margin-right: 0.5rem;
}
div.all-tickets .request-card-container .request-card .bottom span:last-child {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*# sourceMappingURL=main.css.map */
