@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap')

.fx
  display: flex
  &.fdc
    flex-direction: column
  &.jcc
    justify-content: center
  &.aic
    align-items: center
  &.aifs
    align-items: flex-start

.fx-asc
  align-self: center

.fx-spacer
  flex-grow: 1

.list-lsn
  list-style: none

*
  font-family: 'Nunito', sans-serif
  margin: 0
  padding: 0

html
  overflow-y: scroll
  background-color: #444b58
  &.translated-ltr, &.translated-rtl
    nav.main-styles
      top: 40px

body
  padding: 5rem 3rem
  background: #00000000
  box-sizing: border-box

  nav.main-styles
    z-index: 10
    align-self: stretch
    padding: 1rem 2rem
    background-color: #444b58
    box-shadow: 0 3px 3px -1px #3333
    position: fixed
    top: 0
    left: 0
    right: 0
    ul li:not(:first-child, :last-child)
      padding: 0 1rem
    li.user_type
      margin-left: 1.5rem
      color: #1E90FFFF
    ul li a
      text-decoration: none
      font-weight: 600
      color: #dcdcdc
      &:visited
        color: #dcdcdc

    #google_translate_element
      margin-left: 2rem


  h2.all-tickets
    margin-left: 1rem
    margin-bottom: 5px

  .bg_z_minus
    z-index: -1
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-image: url(frodo_bg.jpg)
    background-position: center
    background-size: 700px
    //filter: sepia(0.3) contrast(0.8)
    filter: saturate(30%) brightness(80%) contrast(62%)

    .overlay
      width: 100%
      height: 100%
      //background: #7c7c7c38
      background: #7c7c7c12


.header_controls
  display: flex
  flex-direction: column
  align-items: stretch
  align-self: flex-start
  border-radius: 5px
  background: #F0F0F0
  padding: 7px 2rem 10px
  .row
    display: flex
    align-items: center

  h2.title_my_req
    font-size: 2.5rem
    margin-right: 3.5rem
  button
    color: #EEE
    background-color: #444b58
    padding: 7px 1rem
    outline: none
    border: none
    border-radius: 5px
    cursor: pointer
    span
      font-size: 1rem
      margin-left: 5px

  #ticket-filters, #ticket-actions
    > span:first-child
      font-weight: bold
  #ticket-filters
    margin: 5px 0 3px
    > span:first-child
      font-weight: bold
    label
      display: flex
      align-items: center
      margin-left: 1rem
      cursor: pointer
      input
        margin-right: 3px
  #ticket-actions
    span:not(:first-child)
      margin-left: 5px
      cursor: pointer
      transition: all 370ms
      padding: 1px 5px
      border-radius: 3px
    .connect
      &:not(.disabled)
        &:hover
          background-color: #dde40990
      &.disabled
        cursor: not-allowed
        background-color: #b6b6b6

    .mark:hover
        background-color: #0070ba70

  @media (max-width: 650px)
    align-self: center
    margin-top: 2rem
    h2
      margin-top: 0.8rem
    .row
      flex-direction: column
      align-items: flex-start
    #btn-create-request
      margin: .5rem 0
    #ticket-filters, #ticket-actions
      margin-bottom: 1rem
    #ticket-actions
      span:not(:first-child)
        margin: 2px 0


$status-created-color: #ba3000
$status-confirmed-color: #b4ba00
$status-delivered-color: #0070ba
$status-reviewed-color: #19ba00

div.all-tickets
  display: flex
  flex-direction: column
  padding: 1rem 0

  .row
    display: flex
    margin-top: 3px
  .col
    display: flex
    flex-direction: column


  .request-card-container
    display: flex
    flex-wrap: wrap
    margin: 0 -0.5rem
    justify-content: space-evenly
    .request-card-envelop
      display: flex
      flex-grow: 1
      min-width: 21rem
      max-width: 25rem
      padding-top: 5px
      border-radius: 5px
      margin: 0.5rem 0.5rem
      transition: all 300ms
      box-shadow: 2px 2px 6px 0 #3333
      &.created
        background-color: $status-created-color
      &.confirmed
        background-color: $status-confirmed-color
      &.delivered
        background-color: $status-delivered-color
      &.reviewed
        background-color: $status-reviewed-color
      &:hover
        box-shadow: 2px 2px 20px 5px #3338

      .request-card
        display: flex
        flex-grow: 1
        border-radius: 5px
        padding: 20px
        background-color: #F0F0F0
        position: relative

        i.fa
          width: 1.2rem
          margin-right: 5px
        a.contact-phone, a.contact-phone:visited
          text-decoration: none
          color: unset
          transition: all 300ms
          &:hover
            background-color: rgba(51, 51, 51, 0.27)

        .major
          flex-grow: 3
          justify-content: space-between
          margin-right: 10px
          > div
            display: flex
            flex-direction: column
            &.top
              span:first-child
                font-weight: 800
                font-size: 1.1rem
                margin-bottom: 2px
            &.mid
              margin: 0.8rem -5px
              display: flex
              flex-direction: column
              align-items: flex-start
              a.contact-phone
                padding: 3px 5px
                border-radius: 3px
                transition: all 500ms
                &:hover
                  i.fa
                    transform: scale(125%)

        .minor
          flex-grow: 1
          max-width: 7rem
          justify-content: space-between

          .review
            display: flex
            align-items: center
            justify-content: space-between
            //input[type="checkbox"]
            //  size: 2rem
            span
              position: relative
              button[name="do_review"]
                cursor: pointer
                color: #000
                background-color: #e0e0e0
                border: 1px solid #444b58
                border-radius: 5px
                padding-left: 3px
                box-shadow: 0 0 5px -1px #0009
                transition: box-shadow 0.18ms ease-out
                &:hover
                  box-shadow: 0 0 3px 0 #000C
              .feedback
                position: absolute
                padding: 5px
                border-radius: 5px
                bottom: 2rem
                right: 0
                background-color: #00000000
                color: #00000000
                transition: all 0.3s ease-out
                min-width: 7rem
              .fa-comments:hover + .feedback
                background-color: #F0F0F0
                visibility: visible
                color: unset
                box-shadow: 0 0 8px -2px #222
                right: -3rem

          .rec_don > span
            line-break: anywhere

          .is-veg
            margin-right: 3px
            border: 2px solid
            width: 1rem
            height: 1rem
            display: flex
            align-items: stretch
            justify-content: stretch
            div.circle
              margin: 0.2rem
              border-radius: .3rem
              width: .6rem
              height: .6rem
            &.veg
              border-color: #8FBC8FFF
              div.circle
                background-color: #8FBC8FFF
            &.non-veg
              border-color: #CD5C5CFF
              div.circle
                background-color: #CD5C5CFF

          .request-status
            span
              font-weight: 600
              line-break: anywhere
            &.created span
              color: $status-created-color
            &.confirmed span
              color: $status-confirmed-color
            &.delivered span
              color: $status-delivered-color
            &.reviewed span
              color: $status-reviewed-color
