form
  margin: 1.5rem
  .header
    margin-top: 1.5rem
    border-top: 2px solid #000
    border-bottom: 2px solid #000
    span
      font-weight: bold
  .row
    border-bottom: 1px solid #111
  .row, .header
    span
      display: block
      padding: 3px 5px
      border-right: 1px solid #111
      &:first-child
        border-left: 1px solid #111
    span, input[type='checkbox']
      &:nth-child(1)
        width: 1.5rem
      &:nth-child(2)
        width: 15rem
      &:nth-child(3)
        width: 12rem
      &:nth-child(4)
        width: 7rem
      &:nth-child(5)
        width: 15rem
      &:nth-child(6)
        width: 13rem

  button[type='submit']
    margin: 2rem 2rem 2rem 0
    padding: 0.5rem 1rem
    font-size: 0.9rem
    font-weight: 500
    border-radius: 5px
    cursor: pointer

  &#normal-users-form button[type='submit']
    border: 1px solid green
    background-color: lightgreen

  &#volunteer-users-form button[type='submit']
    border: 1px solid red
    background-color: lightcoral
