body
  height: 100vh

#request-form
  width: 20vw
  min-width: 12rem
  max-width: 30rem

  > :nth-child(3), > :last-child > *
    margin: 3px 0

  h2
    text-transform: capitalize
    margin-bottom: .5rem
  span:first-child
    margin-right: 5px
  span:last-child
    margin-left: 2px
  input[name="is_donate_req"][value="0"]
    margin-left: 5px
  label
    display: flex
    align-items: center
