<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='donor_summary.css') }}">
{#    <script src="{{ url_for('static', filename='donor_summary.js') }}"></script>#}

</head>
<body class="fx fdc aifs">
    {% include 'partials/header_1.html' %}

    <div class="bg_z_minus"><div class="overlay"></div></div>

    <main>
        <h2>Donor Summary</h2>
        <div class="container">
            <div class="row heading">
                <span>Name</span>
                <span>Contact</span>
                <span>Rating (& Count)</span>
            </div>
            {% for donor in donors %}
            <a href="/donor_detail/{{ donor.uid }}">
                <div class="row" id="{{ donor.uid }}">
                    <span>{{ donor.name }}</span>
                    <span>{{ donor.contact }}</span>
                    <span>{{ donor.rating }} <i class="fa fa-star"></i> ({{ donor.count }})</span>
                </div>
            </a>
            {% endfor %}
        </div>
    </main>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {
                    pageLanguage: 'en',
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                },
                'google_translate_element'
            );
        }
    </script>

    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>