<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <script src="{{ url_for('static', filename='login.js') }}"></script>

</head>
<body class="fx fdc jcc aic">
    <div class="bg_z_minus"><div class="overlay"></div></div>

    <form id="login" method="post" action="login" class="fx fdc active">
        <h3 class="fx-asc">login</h3>
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="login">

        <div class="row divider">
            <div class="line"></div>
            <span>OR</span>
            <div class="line"></div>
        </div>

        <input type="button" class="log_sign" value="Signup">

        <input type="hidden" name="task" value="login">
    </form>

    <form id="signup" method="post" action="login" class="fx fdc">
        <h3 class="fx-asc">signup</h3>
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="text" name="phone" placeholder="Phone">
        <textarea name="address" cols="30" rows="5" placeholder="Address"></textarea>
        <label class="fx aic">
            <input type="checkbox" name="interested_in_volunteering">
            <span>Interested in volunteering</span>
        </label>
        <input type="submit" value="signup">

        <div class="row divider">
            <div class="line"></div>
            <span>OR</span>
            <div class="line"></div>
        </div>

        <input type="button" class="log_sign" value="Login">

        <input type="hidden" name="task" value="signup">
    </form>

    <span id="refresh_message" class="fx-asc">{{ refresh_message }}</span>
</body>
</html>