<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='user_dashboard.css') }}">
    <script src="{{ url_for('static', filename='user_dashboard.js') }}"></script>

</head>
<body class="fx fdc aifs">
    {% include 'partials/header_1.html' %}

    <button id="btn-create-request" onclick="show_request_form()" type="button">
        Create Request
    </button>

    <div id="full-popup" class="fx fdc jcc aic full-popup">
        <form id="request-form" class="fx fdc" method="post" action="/dashboard">
            <h2 class="fx-asc">create request</h2>
            <input type="hidden" name="task" value="create-request">

            <div class="fx">
                <span>Req Type: </span>
                <label>
                    <input type="radio" name="is_donate_req" value="1">
                    <span>Donate</span>
                </label>
                <label>
                    <input type="radio" name="is_donate_req" value="0">
                    <span>Receive</span>
                </label>
            </div>

            <label>
                <span>Qty: </span>
                <input type="text" name="req_qty_in_person" placeholder="In count of person">
            </label>

            <div class="fx fdc">
                <label for="cb_contact_details_same_as_user">
                    <input type="checkbox" name="contact_details_same_as_user" id="cb_contact_details_same_as_user">
                    <span>contact details same as user</span>
                </label>
                <input type="text" name="contact_phone" placeholder="Contact Phone">
                <textarea name="location_as_address" cols="30" rows="7" placeholder="Delivery Address"></textarea>
            </div>
            <input type="submit" value="Create">
        </form>

        <form id="feedback-form" class="fx fdc" method="post" action="/dashboard">
            <h2 class="fx-asc">Submit Feedback</h2>
            <input type="hidden" name="task" value="submit-feedback">
            <input type="hidden" name="req_id">

            <div class="fx">
                <span>Rating: </span>
                <input type="radio" name="rating_value" value="1">
                <input type="radio" name="rating_value" value="2">
                <input type="radio" name="rating_value" value="3">
                <input type="radio" name="rating_value" value="4">
                <input type="radio" name="rating_value" value="5">
            </div>

            <textarea name="review" id="" cols="20" rows="10" placeholder="Review"></textarea>

            <input type="submit" value="Submit Feedback">
        </form>
    </div>

    <h2 class="title_my_req">My Requests</h2>

    <details id="open-list">
        <summary>Opened Requests ({{ payload.created | length }})</summary>
        <div class="header fx">
            <span>Address</span>
            <span>Contact</span>
            <span>Qty</span>
            <span>DateTime</span>
            <span>Request Type</span>
        </div>
        {% for request in payload.created %}
        <div class="row fx">
            <span>{{ request.this_contact_address }}</span>
            <span>{{ request.this_contact_phone }}</span>
            <span>{{ request.req_qty_in_person }}x</span>
            <span>{{ request.created_ts }}</span>
            <span>{{ "Donate" if request.is_donate_req == 1 else "Receive" }}</span>
        </div>
        {% endfor %}
    </details>

    <details id="confirmed-list">
        <summary>Confirmed Requests ({{ payload.confirmed | length }})</summary>
        <div class="header fx">
            <span>Address</span>
            <span>Contact</span>
            <span>Qty</span>
            <span>DateTime</span>
            <span>Request Type</span>
        </div>
        {% for request in payload.confirmed %}
        <div class="row fx">
            <span>{{ request.this_contact_address }}</span>
            <span>{{ request.this_contact_phone }}</span>
            <span>{{ request.req_qty_in_person }}x</span>
            <span>{{ request.created_ts }}</span>
            <span>{{ "Donate" if request.is_donate_req == 1 else "Receive" }}</span>
            {% if not request.is_donate_req %}
            <form action="dashboard" method="post">
                <input type="hidden" name="task" value="mark-delivered">
                <input type="hidden" name="pk_rid" value="{{ request.pk_rid }}">
                <button type="submit">Mark Delivered</button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </details>

    <details id="delivered-list">
        <summary>Delivered Requests ({{ payload.delivered | length }})</summary>
        <div class="header fx">
            <span>Address</span>
            <span>Contact</span>
            <span>Qty</span>
            <span>DateTime</span>
            <span>Request Type</span>
        </div>
        {% for request in payload.delivered %}
        <div class="row fx">
            <span>{{ request.this_contact_address }}</span>
            <span>{{ request.this_contact_phone }}</span>
            <span>{{ request.req_qty_in_person }}x</span>
            <span>{{ request.created_ts }}</span>
            <span>{{ "Donate" if request.is_donate_req == 1 else "Receive" }}</span>
            {% if not request.is_donate_req %}
            <button value="{{ request.pk_rid }}" onclick="show_feedback_form(this)">Provide Feedback</button>
            {% endif %}
        </div>
        {% endfor %}
    </details>

    <details id="reviewed-list">
        <summary>Reviewed Requests ({{ payload.reviewed | length }})</summary>
        <div class="header fx">
            <span>Address</span>
            <span>Contact</span>
            <span>Qty</span>
            <span>DateTime</span>
            <span>Request Type</span>
        </div>
        {% for request in payload.reviewed %}
        <div class="row fx">
            <span>{{ request.this_contact_address }}</span>
            <span>{{ request.this_contact_phone }}</span>
            <span>{{ request.req_qty_in_person }}x</span>
            <span>{{ request.created_ts }}</span>
            <span>{{ "Donate" if request.is_donate_req == 1 else "Receive" }}</span>
        </div>
        {% endfor %}
    </details>

</body>
</html>