<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='user_dashboard.css') }}">
    <script src="{{ url_for('static', filename='user_dashboard.js') }}"></script>

</head>
<body class="fx fdc aifs">
    {% include 'partials/header_1.html' %}

    <div class="bg_z_minus">
        <div class="overlay"></div>
    </div>

    <div class="header_controls">
        <div class="row">
            <h2 class="title_my_req">My Requests</h2>
            <button id="btn-create-request" onclick="show_request_form()" type="button">
                <i class="fa fa-plus-square"></i>
                <span>Create Request</span>
            </button>
        </div>
        <div class="row">
            {% include 'partials/ticket_filters.html' %}
        </div>
    </div>

    {% include 'partials/all_tickets.html' %}

    <div id="full-popup" class="fx fdc jcc aic full-popup">
        <form id="request-form" class="fx fdc" method="post" action="/dashboard">
            <h2 class="fx-asc">create request</h2>
            <input type="hidden" name="task" value="create-request">

            <div class="fx">
                <span>Req Type: </span>
                <label>
                    <input type="radio" name="is_donate_req" value="1">
                    <span>Donate</span>
                </label>
                <label>
                    <input type="radio" name="is_donate_req" value="0">
                    <span>Receive</span>
                </label>
            </div>

            <div class="fx">
                <span>V/N Veg: </span>
                <label>
                    <input type="radio" name="is_veg" value="1">
                    <span>Veg</span>
                </label>
                <label>
                    <input type="radio" name="is_veg" value="0">
                    <span>Non Veg</span>
                </label>
            </div>

            <label>
                <span>Qty: </span>
                <input type="text" name="req_qty_in_person" placeholder="In count of person">
            </label>

            <div class="fx fdc">
                <label for="cb_contact_details_same_as_user">
                    <input type="checkbox" name="contact_details_same_as_user" id="cb_contact_details_same_as_user">
                    <span>contact details same as user</span>
                </label>
                <input type="text" name="contact_phone" placeholder="Contact Phone">
                <textarea name="location_as_address" cols="30" rows="7" placeholder="Delivery Address"></textarea>
            </div>
            <input type="submit" value="Create">
        </form>

        <form id="feedback-form" class="fx fdc" method="post" action="/dashboard">
            <h2 class="fx-asc">Submit Feedback</h2>
            <input type="hidden" name="task" value="submit-feedback">
            <input type="hidden" name="req_id">

            <div class="fx">
                <span>Rating: </span>
                <input type="radio" name="rating_value" value="1">
                <input type="radio" name="rating_value" value="2">
                <input type="radio" name="rating_value" value="3">
                <input type="radio" name="rating_value" value="4">
                <input type="radio" name="rating_value" value="5">
            </div>

            <textarea name="review" id="" cols="20" rows="10" placeholder="Review"></textarea>

            <input type="submit" value="Submit Feedback">
        </form>
    </div>
</body>
</html>